<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block title %} {% endblock title %}

    <link rel="stylesheet" href="css/bootstrap.css" />
    <!-- Latest compiled and minified CSS -->



    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/mustache.js"></script>

    <script src="js/jquery-ui.js"></script>


</head>


<body class="bg-light">


    {% include "partials/modal-login.njk" %}
<div class="container">
    {% include "partials/alert-welcome.njk" %}
    {% include "partials/counter.njk" %}
    {% include "partials/btn-group.njk" %}
    {% include "partials/alert-require.njk" %}
    {% include "partials/form.njk" %}

    <div class="books">
        {% include "partials/book-item.njk" %}
    </div>


</div>
    {% include "partials/scripts-temp.njk" %}
    {% block scripts %}
      <script src="js/all.js"></script>
    {% endblock scripts %}
</body>
