<div class="row justify-content-center my-4">
    <button type="button" class="btn btn-success js-login" data-toggle="modal" data-target="#modalLoginForm">Log in</button>
    <button type="button" id="test" class="btn btn-danger js-logout d-none">Log out</button>
</div>

